

.AZ{
    color: blue;
    text-align: right;
    font-weight: bold;
}

#AM {
    color: rgb(202, 202, 16);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color:bisque;
}

h1{
    text-align: center ;
    color: red;
}

